# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# local stuff
__pycache__
tmp/
ext_dox/
.DS_Store
.vscode
DC_transfer
README.local.md
nycflights.csv
# locally tested PHP stuff 
*.php

# locally tested C stuff 
*.c